.cl-projects {
  padding-bottom: 20px;
  background-image: url(../images/projects/projects-bg.svg);
  background-position: right center;
  background-repeat: no-repeat;
  .cl-projects-banner {
    padding-top: 196px;
    padding-bottom: 60px;
    .cl-projects-title {
      font-weight: 800;
      font-size: 56px;
      line-height: 130%;
      color: $cl_text_title;
      margin-bottom: 30px;
    }
    .cl-projects-description {
      font-size: 24px;
      line-height: 40px;
    }
  }
  .cl-projects-list {
    .cl-project-item {
      border-top: 1px solid #9FA6A9;
      padding-top: 80px;
      padding-bottom: 80px;
      .cl-project-header {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        .cl-project-logo {
          width: 122px;
          height: 122px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .cl-project-name {
          font-weight: 700;
          font-size: 52px;
          line-height: 62px;
          color: #1f3549;
          margin-left: 45px;
        }
      }
      .cl-project-body {
        font-size: 20px;
        line-height: 180%;
        color: #656c73;
        margin-bottom: 45px;
        p{
          margin-bottom: 0;
        }
      }
      .cl-project-action {
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        color: #656c73;
        a {
          color: $cl_primary_color;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .cl-projects {
    background-image: none;
    .cl-projects-banner {
      padding-bottom: 80px;
      .cl-projects-title{
        font-size: 40px;
      }
      .cl-projects-description{
        font-size: 18px;
        line-height: 160%;
      }
    }
    .cl-projects-list {
      .cl-project-item {
        padding: 40px 0;
        .cl-project-header {
          margin-bottom: 24px;
          .cl-project-logo{
            width: 90px;
            height: 90px;
          }
          .cl-project-name{
            font-size: 40px;
            line-height: 160%;
            margin-left: 20px;
          }
        }
        .cl-project-body{
          font-size: 18px;
          line-height: 160%;
          margin-bottom: 30px;
        }
        .cl-project-action{
          font-size: 18px;
          line-height: 160%;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .cl-projects {
    .cl-projects-banner {
      padding-top: 120px;
      padding-bottom: 60px;
      .cl-projects-title {
        font-size: 30px;
        line-height: 1.3;
        margin-bottom: 20px;
      }
      .cl-projects-description {
        font-size: 14px;
      }
    }
    .cl-projects-list {
      .cl-project-item {
        .cl-project-header {
          margin-bottom: 16px;
          .cl-project-logo {
            width: 50px;
            height: 50px;
            min-width: 50px;
          }
          .cl-project-name {
            margin-left: 15px;
            font-size: 24px;
          }
        }
        .cl-project-body{
          font-size: 14px;
        }
        .cl-project-action{
          font-size: 14px;
        }
      }
    }
  }
}
