// LAVENDER
//$cl_font_family: "Sen";
$cl_font_family: "Manrope", sans-serif;
$cl_white_color: #fff;
$cl_light_color: #fafafa;
$cl_light_color_2: #f9fafb;
$cl_primary_color: #0041c4;
$cl_secondary_color: #3abef0;
$cl_transition: all ease-in-out 0.3s;
$cl_text_color: #656c73;
$cl_text_title: #0e0e2c;

.slick-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  text-align: center;
  list-style: none;
  line-height: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  line-height: 0;
  margin: 0 6px;
  position: relative;
  box-sizing: border-box;
}

.slick-dots li button {
  width: 8px;
  height: 8px;
  background-color: #e2e2e2;
  font-size: 0;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 1;
  border: none;
  box-sizing: border-box;
  padding: 0;
}
.slick-dots li:hover button {
  background-color: $cl_primary_color;
  border: 2px solid $cl_primary_color;
  width: 12px;
  height: 12px;
}
.slick-dots li.slick-active button {
  background-color: $cl_primary_color;
  border: 2px solid $cl_primary_color;
  width: 12px;
  height: 12px;
}
.cl-loading {
  background-color: $cl_white_color;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  user-select: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    transition: all ease-in-out 0.3s;
    transform-origin: center center;
    animation: loadingEffect 2s infinite;
  }
}

.cl-title {
  font-weight: 800;
  font-size: 52px;
  line-height: 130%;
  color: $cl_text_title;
  margin-bottom: 40px;
  @media (max-width: 991px) {
    font-size: 32px;
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.line {
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  &:before {
    position: absolute;
    content: "";
    background: url("../images/shape.svg") no-repeat center bottom;
    background-size: cover;
    width: 34px;
    height: 34px;
    left: 0;
    right: 0;
    bottom: -17px;
    margin: 0 auto;
    z-index: 1;
  }
  @media (max-width: 767px) {
    &:before {
      width: 26px;
      height: 26px;
      bottom: -13px;
    }
  }
}
.cl-contact {
  padding: 100px 0;
  text-align: center;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    background: url("../images/contact-deco.png") no-repeat center center;
    background-size: cover;
    width: 759px;
    height: 673px;
    bottom: -381px;
    left: calc(50% - 1180px);
    z-index: -1;
    opacity: 0.5;
  }
  &:after {
    position: absolute;
    content: "";
    background: url("../images/contact-deco2.png") no-repeat center center;
    background-size: cover;
    width: 759px;
    height: 673px;
    top: -402px;
    right: calc(50% - 1146px);
    z-index: -1;
    opacity: 0.5;
  }
  > * {
    position: relative;
    z-index: 1;
  }
  .cl-title {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 170%;
  }
  @media (max-width: 991px) {
    .cl-title {
      font-size: 32px;
    }
  }
  @media (max-width: 767px) {
    padding: 70px 0;
    &:before {
      background: url(../images/contact-deco.png) no-repeat center bottom;
      background-size: 100%;
      width: 340px;
      bottom: -200px;
      left: calc(50% - 400px);
    }
    &:after {
      background: url(../images/contact-deco2.png) no-repeat center top;
      background-size: 100%;
      width: 340px;
      top: -200px;
      right: calc(50% - 400px);
    }
    .cl-title {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
}
.cl-partners {
  .container {
    max-width: 100%;
    padding: 0;
  }
}

.modal {
  .cl-title {
    font-size: 30px;
    margin-bottom: 0;
  }
  .modal-body {
    padding: 2rem 1rem 3rem 1rem;
  }
}
@keyframes loadingEffect {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

body {
  font-family: $cl_font_family;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: $cl_text_color;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 160%;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
  text-decoration: none;
}

main {
  min-height: calc(100vh - 122px - 395px);
  overflow: hidden;
}

// Components
@import "components/button";
@import "components/pagination";
@import "components/header";
@import "components/footer";

// Pages
@import "pages/homepage";
@import "pages/careers";
@import "pages/projects";
@import "pages/internship";
@import "pages/internship-test";
@import "pages/wip-program";
@import "pages/about";

// Modals
@import "modals/contact-modal";

.cl-404,
.cl-page-detail {
  min-height: calc(100vh - 385px);
  padding-top: 122px;
}
