.cl-footer {
  padding-top: 65px;
  padding-bottom: 16px;
  background: linear-gradient(229.57deg, #7d17ff 29%, #0085ff 88.38%);
  line-height: 33px;
  color: $cl_light_color;
  .cl-footer-logo {
    margin-bottom: 39px;
  }
  .cl-footer-address {
    margin-bottom: 8px;
    svg {
      margin-right: 20px;
    }
  }
  .cl-footer-email {
    a {
      color: $cl_light_color;
    }
    svg {
      margin-right: 20px;
    }
  }
  .cl-footer-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.01em;
    margin-bottom: 19px;
  }
  .cl-footer-body {
    line-height: 30px;
    color: $cl_light_color;
  }
  ul {
    flex-direction: column;
    gap: 8px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    li {
      &.active {
        a {
          font-weight: bold;
          color: $cl_white_color !important;
        }
      }
      a {
        line-height: 33px;
        color: $cl_light_color;
        padding: 0;
        transition: $cl_transition;
        &:hover {
          color: $cl_white_color;
        }
      }
    }
  }
  .cl-footer-bottom {
    padding-top: 45px;
    font-size: 12px;
    line-height: 16px;
    color: $cl_white_color;
    text-align: center;
    opacity: 0.6;
  }
}
@media (max-width: 991px) {
  .cl-footer {
    padding-top: 50px;
    .cl-footer-address {
      margin-bottom: 0;
    }
    .cl-footer-title {
      margin-bottom: 10px;
    }
    .cl-footer-bottom {
      padding-top: 20px;
    }
  }
}

@media (max-width: 767px) {
  .cl-footer {
    line-height: 160%;
    .cl-footer-logo {
      margin-bottom: 30px;
      .img-fluid {
        height: 32px;
      }
    }
    .cl-footer-title {
      font-size: 20px;
      line-height: 24px;
    }
    .cl-footer-body {
      line-height: 160%;
    }
    .cl-footer-address {
      margin-bottom: 8px;
      svg {
        margin-right: 8px;
      }
    }
    .cl-footer-email {
      svg {
        margin-right: 8px;
      }
    }
    .cl-footer-email,
    .cl-footer-address {
      display: flex;
      svg {
        width: 25px;
        min-width: 25px;
      }
    }
  }
}
