.cl-navbar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  padding: 46px 0 22px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  .navbar-nav {
    align-items: center;
    .cl-header-cta {
      .nav-link {
        background: $cl_text_title;
        border-radius: 8px;
        padding: 14px 36px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $cl_white_color;
        margin-left: 30px;
        margin-right: 0;
        &:hover {
          opacity: 0.8;
          &::before {
            width: 0;
          }
        }
      }
    }
    .nav-link {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      margin: 0 24px;
      padding: 0;
      color: $cl_text_title;
      position: relative;
      white-space: nowrap;
      &::before {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        height: 4px;
        width: 0;
        background-color: $cl_text_title;
        transition: $cl_transition;
      }
      &.active,&:hover {
        &::before {
          width: 100%;
        }
      }
      
    }
  }
  .cl-logo-light {
    display: none;
  }
  &.sticky {
    background: rgba(255, 255, 255, 0.8);
    // background: $cl_white_color;
    /* background: linear-gradient(
      180deg,
      #c7deff -18.52%,
      #edf2f7 33.95%,
      #f5f8fd 100%,
      $cl_white_color 0
    );
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    -webkit-animation: slide-down 0.5s;
    animation: slide-down 0.5s; */
    padding-top: 10px;
    padding-bottom: 10px;
    .navbar-nav {
      .cl-header-cta {
        .nav-link {
          //padding: 10px 30px;
        }
      }
    }
  }
  &.cl-dark {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    .cl-logo {
      display: none;
    }
    .cl-logo-light {
      display: block;
    }
    .navbar-nav {
      .cl-header-cta {
        .nav-link {
          background: $cl_white_color;
          color: $cl_text_title;
        }
      }
      .nav-link {
        color: $cl_white_color;
        &::before{
          background-color: $cl_white_color;
        }
      }
    }
    &.sticky {
      background: linear-gradient(229.57deg, #7D17FF 29%, #0085FF 88.38%);
    }
  }
  &.none-bg{
    background: none;
  }
}
@media (max-width: 1199px) {
  .cl-navbar {
    .navbar-nav {
      .cl-header-cta {
        .nav-link {
          padding: 14px 25px;
          margin-left: 15px;
        }
      }
      .nav-link {
        margin: 0 15px;
      }
    }
  }
}
@media (max-width: 991px) {
  .cl-navbar {
    //padding-top: 24px;
    .navbar-brand {
      //padding-bottom: 10px;
      img {
        height: 32px;
      }
    }
    .navbar-nav {
      .nav-link {
        font-size: 12px;
        margin: 0 10px;
      }
      .cl-header-cta {
        .nav-link {
          padding: 10px 20px;
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .cl-navbar {
    background: linear-gradient(229.57deg, #7D17FF 29%, #0085FF 88.38%);
    backdrop-filter: blur(14px);
    padding-bottom: 10px;
    padding-top: 10px;
    .navbar-toggler {
      box-shadow: none !important;
      outline: 0 !important;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }
    }
    .cl-logo {
      display: none;
    }
    .cl-logo-light {
      display: block;
    }
    .navbar-nav {
      padding: 20px 0;
      .nav-item {
        padding: 15px 0;
        .nav-link {
          color: #fff;
          font-size: 18px;
          &::before {
            background-color: #fff;
            bottom: -10px;
          }
        }
        &.cl-header-cta {
          .nav-link {
            margin-left: 0;
            /* box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
            color: #3a2d78;
            background: linear-gradient(180deg, #f5fcff -18.52%, #e4d6eb); */
          }
        }
      }
    }
    &.sticky{
      background: linear-gradient(229.57deg, #7D17FF 29%, #0085FF 88.38%);
      backdrop-filter: blur(14px);
    }
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
